Celery==3.1.23
fabric
kombu==3.0.35
leancloud-sdk
lxml
mysql
MySQL-python==1.2.5
numexpr
numpy
pandas
pymongo
pyopenssl
qingcloud-sdk
redis
scikit-learn
SciPy
Scrapy
scrapy_redis
sqlalchemy
twisted
xlsxwriter